*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    color: #f0ebe5;
    text-align: center;
    background-color:#eeeeee;
/*    cursor: pointer;*/
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
p{
    margin-bottom: 25px;
}

.section{
    float:left;
    width: 100%;
    box-sizing: border-box;
}
.container{
    z-index: 9999997 ;
    float: none;
    width: 100%;
    margin: 0 auto;
}
.header{
    position: fixed;
    z-index: 9999999;
    background-color: #e89245;
    /*border-bottom: 1px solid #eeeeee;*/
    padding: 5px 0;
    height: 139px;
}
.logo{
    float: left;
    width: 10%;
}
.toplinks{
    float: right;
    text-transform: uppercase;

}
.logo a{
    font-size: 28px;
    color: #222222;
    font-weight: 700;
}
.logo p{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.toplinks li{
    list-style: none;
    float: left;
    margin-left: 25px;
    margin-right: 20px;
}
.toplinks li a{
    color: #ffffff;
    font-weight: 500;
    line-height: 128px;
}
.nav{
    z-index: 9999998;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0;
    top:128px;
}
.item{

}
.menu li{

    float: left;
    list-style: none;
    margin-right: 30px;
    box-sizing: border-box;
}

.menu li a{
    color: #222222;
    font-weight: 500;
}

.thumbnail{
    border-radius: 50%;
    max-width: 58px;
    padding: 5px;
    margin: 5px auto;
    min-height: 58px;
}

.main{
    margin-top: 220px;
}
.content{
    float:left;
    width: 100%;
    padding-right: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.content .entry{
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 0px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid #eeeeee;
}

.bt{
    background-color: #e89245;
    padding: 15px;
    font-size: 25px;
    border-radius: 8px;
    margin: 0 20px;
    font-weight: bolder;
    color: #eeeeee;
}

.menusecond{
    display: flex;
    justify-content: center;
}

.footer{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #6e1e1e;
    color: #ffffff;
    left: 0;
    bottom: 0;
}

.copyright{
    float: left;
    margin: 20px 40px;
    height: 50px;

}

.bottomlinks{
    float: right;
    height: 50px;
}

.bottomlinks li{
    float: left;
    list-style: none;
    margin: 20px 40px;
}

.bottomlinks li a{
    color: #eeeeee;
}


* {box-sizing: border-box}
body {font-family: 'Roboto', sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.hotline-bar .hotline {
    position: fixed;
    right: 33px;
    bottom: 70px;
}