*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    color: #f0ebe5;
    text-align: center;
    background-color:#eeeeee;
    cursor: pointer;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
p{
    margin-bottom: 10px;
}
.section{
    float:left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #e89245;
    border-bottom: 1px solid #eeeeee;
    padding: 5px 0;
}
.logo{
    float: left;
    width: 5%;
}
.toplinks{
    float: right;
    text-transform: uppercase;
}
.logo a{
    font-size: 28px;
    color: #222222;
    font-weight: 700;
}
.logo p{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.toplinks li{
    list-style: none;
    float: left;
    margin-left: 25px;

}
.toplinks li a{
    color: #ffffff;
    font-weight: 500;
    line-height: 52.5px;
}
.nav{
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 30px;
    box-sizing: border-box;
}

.menu li a{
    color: #222222;
    font-weight: 500;
    /*margin-left: 50px;*/
}

.thumbnail{
    border-radius: 50%;
    max-width: 58px;
    padding: 5px;
    margin: 5px auto;
    min-height: 58px;
}

.main{
    margin-top: 30px;
}
.content{
    float:left;
    width: 100%;
    padding-right: 15px;
    margin-bottom: 50px;
}
.sidebar{
    display: inline-block;
    width: 25%;
    padding-left: 15px;
}
.content .entry{
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
}
.sidebar .block{
    float: left;
    width: 50%;
    padding: 30px;
    background-color: #e89245;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px 20px 20px 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid #eeeeee;
}

.bt{
    background-color: #e89245;
    padding: 15px;
    font-size: 25px;
    border-radius: 8px;
    margin: 0 20px;
    font-weight: bolder;
    color: #eeeeee;
}

.menusecond{
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6e1e1e;
    color: white;
    text-align: center;
}

.copyright{
    float: left;
    margin-left: 25px;
}

.bottomlinks{
    float: right;
}

.bottomlinks li{
    float: left;
    list-style: none;
    margin-left: 25px;
    margin-right:25px;
}

.bottomlinks li a{
    color: #eeeeee;
}

.hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 50px;
    padding: 0 10px;
    background-size: 100%;
    transition: all 0.8s;
/*    z-index: 999;*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    right: 33px;
    bottom: 20px;
}
.text-hotline{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 40px;
}
