


/*.section{*/
    /*float:left;*/
    /*width:100%; !*cac phan tu chiem chon man hinh, khoi ko bi nhay ra ngoai*!*/
/*}*/
.menu li{
    list-style: none; /*mất chấm ở đầu */
    float: left; /* ngang hang nhau */
    margin-left: 50px;
}
.menu li a{
    color: #222222;
    font-weight: 500;
}
.content-menucenter{
    float:left;
    width: 100%;
    margin-bottom: 10px;
}
.content-menu .entry{
    float: left;
    background-color: #ffffff;
    padding: 10px;
}

.section-category {
    margin-bottom: 20px;
    padding: 20px;
}
.product-list li{
    list-style: none;
    float:left;
    padding: 10px;
    width: 25%;
}
.product-list {/* menu chính */
    float: left;
    background-color: #ffffff;
    padding-right: 10px;
    width: 100%;

}


.product-title{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 700;
}
.describe{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto;

    color: #a29191;
}
.product-inner .product-price {
    color: #ff0000;
    font-size: 28px;
    font-weight: 600;
}
.product-action {
    width: 100%;

}

.product-list .product-item img:hover{
    transform: scale(1.05);
}
h2{
    color: #222222;
}
.hotline-bar .hotline {
    position: fixed;
    right: 33px;
    bottom: 60px;
}


