/**{*/
/*    padding: 0;*/
/*    margin:0;!*bo di nhung cai size khac*!*/
/*    box-sizing: border-box; !*can kich thuoc body*!*/

/*}*/
/*body{*/
/*     font-family: 'Roboto', sans-serif;*/
/*     font-size: 20px;*/
/*     font-weight: 400;*/
/*     line-height: 1.25;*/
/*     color: #ffffff;*/
/*     text-align: center;*/
/*     background-color:#eeeeee;*/
/*    margin: 20px;*/
/* }*/
/*a{*/
/*    text-decoration: none;*/
/*}*/
/*img{*/
/*    max-width: 100%;*/
/*}*/
/*p{*/
/*    margin-bottom: 10px;*/
/*}*/
/*.section{*/
/*    float:left;*/
/*    width: 100%;*/
/*}*/
/*.container{*/
/*    float:none;*/
/*    width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/
/*.header{*/
/*    background-color: #f47d03;*/
/*    border-bottom: 1px solid #ffffff;*/
/*    padding: 5px;*/
/*    margin: 0;*/
/*}*/
/*.logo a{*/
/*    font-size: 28px;*/
/*    color:#222222;*/
/*    float:left;*/
/*    !*margin-left: 5px; !* cách viền 25%*!*!*/
/*    !*padding: 5px;*!*/
/*    font-weight: 700;*/
/*}*/
/*.logo p{*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    margin: 0;*/
/*}*/
/*.toplinks{*/
/*    float: right;*/
/*    text-decoration: none;*/
/*    text-transform:uppercase;*/
/*}*/
/*.toplinks li { !* trỏ đến vị trí của phần tủ con *!*/
/*    list-style: none; !*mất chấm ở đầu *!*/
/*    float: left; !* ngang hang nhau *!*/
/*    margin-left: 25px;*/

/*    !*padding: 10px;*!*/
/*    !*font-size: 23px;*!*/
/*    !*text-transform: uppercase; !* chuyển đổi kiểu văn bản sang tất cả viết hoa *!*!*/
/*    !*font-family: "block-pro", "Helvetica Neue", Verdana, sans-serif;*!*/
/*}*/
/*.toplinks li a{*/
/*    color:#ffffff;*/
/*    text-decoration: none;*/
/*    line-height: 52.5px;*/

/*}*/
/*.toplinks li h2{*/
/*    z-index: 3;*/
/*    position: absolute;*/
/*    color:red;*/
/*    float: right;*/
/*    text-align: center;*/


/*}*/
/*!*.toplinks .cart cart-id{*!*/
/*!*    z-index: 3;*!*/
/*!*}*!*/
/*.nav{*/
/*    background-color: #ffffff;*/
/*    border-color: 1px solid #eeeeee ;*/
/*    padding: 20px 0;*/
/*    margin-right: 20px ;*/
/*}*/
/*.nav .menu .item .thumbnail{*/
/*    border-radius:50%;*/
/*    -moz-border-radius:50%;*/

/*img{*/
/*    max-width: 100%; !*hình được căn giữa*!*/
/*    vertical-align: middle;*/

/*}*/
p{
    margin-bottom: 10px; /*doan van day xuong duoi 10px*/
}


/*.section{*/
    /*float:left;*/
    /*width:100%; !*cac phan tu chiem chon man hinh, khoi ko bi nhay ra ngoai*!*/
/*}*/
.menu li{
    list-style: none; /*mất chấm ở đầu */
    float: left; /* ngang hang nhau */
    margin-left: 50px;
}
.menu li a{
    color: #222222;
    font-weight: 500;
}
.content-menucenter{
    float:left;
    width: 100%;
    margin-bottom: 10px;
}
.content-menu .entry{
    float: left;
    background-color: #ffffff;
    padding: 10px;
}

.section-category {
    margin-bottom: 20px;
    padding: 20px;
}
.product-list li{
    list-style: none;
    float:left;
    padding: 10px;
    margin:0px 25px;
    width: 25%;
}
.product-list {/* menu chính */
    float: left;
    background-color: #ffffff;
    padding-right: 10px;
    width: 100%;

}


.product-title{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 700;
}
.describe{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto;

    color: #a29191;
}
.product-inner .product-price {
    color: #ff0000;
    font-size: 28px;
    font-weight: 600;
}
.product-action {
    width: 100%;

}

.product-list .product-item img:hover{
    transform: scale(1.05);
}
h2{
    color: #222222;
}



